<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div id="main" class="container-fluid">
        <p>Guess the magic number!</p>
        {% if 'guess' in session: %}
            {% if session['guess'] == session['magic'] %}
                <div class="card bg-success mb-2 text-center">
                    You got it! 
                    <a class="btn btn-light" href="/reset">Play Again</a>
                </div>
            {% elif session['guess'] < session['magic'] %}
                <div class="card bg-danger mb-2 text-center">
                    <h2>Too Low!!!</h2>
                    
                </div>
            {% else %}
                <div class="card bg-danger mb-2 text-center">
                    <h2>Too High!!!</h2>
                </div>
            {% endif %}
        {% endif %}
            
        <form action="/result" method="post">
            <input type="text" class="form-control w-50 text-center" name="guess" id="guess">
            <button class="btn btn-primary mt-3">Guess</button>
        </form>
    </div>
</body>
</html>